<!-- List with avatar and controls -->
<style>
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}
</style>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
<script type="text/javascript" src="/assets/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-table.js"></script>
<script src="/js/ko.mapping.js"></script>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-cell mdl-cell--6-col" id="roles-table" >



<ul class="demo-list-control mdl-list" data-bind="foreach: Roles">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">person</i>
      <p data-bind="text: name"></p>
    </span>
    <span class="mdl-list__item-secondary-action">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
        <input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked />
      </label>
    </span>
  </li>
  </ul>
<table  class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
    <thead>
        <tr>
            <th>
                <label>Role Name</label>
                <input type="text" class="form-control" data-bind="value: NewRole().name">
            </th>
            <th>
                <button class="mdl-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" style="margin-top: 5px;" data-bind="click: AddRole">
                    <i class="material-icons">add</i>
                </button>
            </th>
        </tr>        
    </thead>
</table>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Roles">
        <tr>
            <td scope="row" data-bind="text: id"></td>
            <td data-bind="text: name"></td>
            <!-- <td><table data-bind="foreach: users">
                
                </table></td> -->
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>
</div>
</div>
<script>
    function RolesViewModel(roles){
        var self = this;
        self.Roles = ko.observableArray(roles);
        self.NewRole = ko.observable({ id:0, name:""});
        self.AddRole = function(){
            $.ajax({
                url: '/api/roles',
                method: 'POST',
                data: { Name: self.NewRole().name },
                success: (success) => {
                    alert(success);
                    self.Roles.push(success);}
            })
        }
    }
    $(document).ready(function(){
        $.get("/api/Roles", function(result){
            var vm = new RolesViewModel(result);
            window.rolesvm = vm;
            ko.applyBindings(window.rolesvm, document.getElementById("roles-table"))
        })
    })
</script>
<!-- <div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="fresh-table full-color-blue">
                    <div class="toolbar">
                        <button id="alertBtn" class="btn btn-default">Alert</button>
                    </div>

                    <table id="fresh-table" class="table">
                        <thead>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="name" data-sortable="true">GroupName</th>
                            <th data-field="" data-sortable="true">
                            </th>
                            <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
<script type="text/javascript" src="/assets/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-table.js"></script>
<script src="js/ko.mapping.js"></script>
<script src="/js/app/viewmodels.js"></script>
<script type="text/javascript">
    var $table = $('#fresh-table'),
        $alertBtn = $('#alertBtn'),
        full_screen = false;

    $().ready(function () {
        $.get("/Roles/LoadRoles", (success) => {
                window.data = success;
                $table.bootstrapTable({
                        toolbar: ".toolbar",
                        data: success,
                        showRefresh: true,
                        search: true,
                        showToggle: true,
                        showColumns: true,
                        pagination: true,
                        striped: true,
                        pageSize: 8,
                        pageList: [8, 10, 25, 50, 100],
                        detailView: true,
                        onExpandRow: function(index, row, $detail) {
                            console.log(row);
                            $detail.append('<table class="table table-hover table-stripped"></table>');
                            $detail.find('.table').bootstrapTable({
                                columns: [{
                                    field: 'id',
                                    title: 'UserId'
                                }, {
                                    field: 'username',
                                    title: 'Username'
                                }],
                            data: row.members                        
                        });
                        console.log($detail)
                    },
                    formatShowingRows: function (pageFrom, pageTo, totalRows) {
                        //do nothing here, we don't want to show the text "showing x of y from..." 
                    },
                    formatRecordsPerPage: function (pageNumber) {
                        return pageNumber + " rows visible";
                    },
                    icons: {
                        refresh: 'fa fa-refresh',
                        toggle: 'fa fa-th-list',
                        columns: 'fa fa-columns',
                        detailOpen: 'fa fa-plus-circle',
                        detailClose: 'fa fa-minus-circle'
                    }
                });
        });




    $(window).resize(function () {
        $table.bootstrapTable('resetView');
    });


    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            alert('You click edit icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            });

        }
    };

    $alertBtn.click(function () {
        alert("You pressed on Alert");
    });

    });


    function operateFormatter(value, row, index) {
        return [
            '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
            '<i class="fa fa-heart"></i>',
            '</a>',
            '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-remove"></i>',
            '</a>'
        ].join('');
    }
</script> -->