@{ ViewData["Title"] = "Home Page"; }
<!-- Wide card with share menu button -->
<style>
    a {
      cursor: pointer;
    }

    .mdl-collapse.mdl-collapse--opened {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      margin-top: -1px;
    }

    .mdl-collapse.mdl-collapse--opened + .mdl-collapse.mdl-collapse--opened {
      border-top: none;
      margin-top: 0;
    }

    .mdl-collapse .mdl-collapse__content-wrapper {
      overflow: hidden;
    }

    .mdl-collapse .mdl-collapse__content {
      transition-property: margin-top;
      transition-duration: 0.2s;
    }

    .mdl-collapse .mdl-collapse__icon {
      transition-property: transform;
      transition-duration: 0.2s;
      color: rgba(0,0,0,0.3);

      /* MDL should provide some facility for positioning icons inside list items so I don't have to do this */
      position: absolute;
      right: 6px;
      margin-top: -3px;
    }

    .mdl-collapse.mdl-collapse--opened .mdl-collapse__icon {
      transform: rotate(-180deg);
    }

    .mdl-collapse.mdl-collapse--opened .mdl-collapse__button {
      color: teal;
    }

    .mdl-collapse.mdl-collapse--opened .mdl-collapse__content {
      margin-top: 0 !important;
    }
  </style>

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
<script type="text/javascript" src="/assets/js/jquery-1.11.2.min.js"></script>
<script src="/js/ko.mapping.js"></script>


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col">



        <table id="group-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>GroupId</th>
                    <th class="sort">Group Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Groups">
                <tr>
                    <td scope="row"></td>
                    <td data-bind="text: groupId"></td>
                    <td data-bind="text: groupname"></td>
                    <td data-bind="text: description"></td>

                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--icon" data-bind="attr: {'id': 'group-menu-' + groupId}">
                            <i class="material-icons">more_vert</i>
                        </button>

                        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" data-bind="attr: {'data-mdl-for': 'group-menu-' + groupId}">
                            <li class="mdl-menu__item">Some Action</li>
                            <li class="mdl-menu__item">Another Action</li>
                            <li disabled class="mdl-menu__item">Disabled Action</li>
                            <li class="mdl-menu__item">Yet Another Action</li>
                        </ul>
                    </td>
                </tr>
                <!-- <tr>
                    <td style="colspan:4" collapsed>
                        <div class="mdl-collapse">
                            <a class="mdl-navigation__link mdl-collapse__button">
                                <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
                                Some links
                            </a>
                            <div class="mdl-collapse__content-wrapper">
                                <div class="mdl-collapse__content mdl-animation--default">
                                    <table class="mdl-data-table" data-bind="foreach: members">
                                        <tr>
                                            <td data-bind="text: username"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <div class="mdl-cell mdl-cell--3-col"></div>
</div>


@section Scripts{ }